body {
  font-family: 'Karla', sans-serif;
}

.intro,
.main {
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro {
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1px;
}

p {
  color: #a6a6a6;
}

.each-side {
  display: flex;
}

.text-content {
  text-align: left;
}

h1,
h3,
button {
  text-transform: uppercase;
}

button {
  background-color: #fff;
  color: #dd7a75;
  font-weight: 700;
  border: 2px solid #dd7a75;
  padding: 0.7rem 3.3rem;
  margin-top: 2rem;
}

button:hover {
  cursor: pointer;
  background-color: #dd7a75;
  color: #fff;
  transition: background-color 0.4s ease-in-out;
}

button:focus {
  outline: none;
}
